trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'

- script: |
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    echo "Build step running"
  displayName: 'Build step'
